@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 90px;
}

.dropdown-toggle::after {
    vertical-align: middle
}

.navbar-dark .navbar-nav .nav-link {
    cursor: pointer;
}